/* ******** Custom Properties ******** */
:root {
  /* First and second color */
  --dark-color: #222;
  --first-color: #444;
  /* Header */
  --white-color: #ffffff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --dark-gray-color: #666;
  --black-color: #200D0D;
  /* Fonts */
  --first-alpha-color: #e6e7e8;
  --second-color: #333333;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --title-h2: #004e92;

  /* Cards */
  --circle-color: #18A0FB;
  --purple-card: #7B61FF;
  --blue-card: #18A0FB;
  --orange-card: #F24822;
  --green-card: #1BC47D;
  /* Shadows */
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24),
    0px 24px 40px rgba(0, 0, 0, 0.24);
  --box-shadow-2: 0 0.5rem 1rem rgba(0,
      0,
      0,
      0.2);
  --box-shadow-3: 0 0.5rem 1rem rgba(#000, 0.2);
  --font: 'Roboto', sans-serif;
  ;
  --max-width: 1200px;
  --header-height: 6rem;
  /* Buttons */
  --hero-btn: #18A0FB;
  --free-btn: #18a0fb62;
  --premium-btn: #18A0FB;
  --text-btn: #1979b8df;
  --main-btn: #007BFF;

}

/* ************************* */
/* RESET */
/* ************************* */
html {
  font-family: var(--font);
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #007BFF, #006CE0);
  background: linear-gradient(to right, #007BFF, #006CE0);
  font-family: var(--font);
}

header {
  margin: 30px 0;

}

/* ************************* */
/* COMPONENTS */
/* ************************* */
.contenido {
  padding: 2rem;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido-principal {
  margin-top: 12rem;
  padding: 2rem 2rem 4rem 2rem;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: var(--box-shadow);
}

.margin-top {
  margin-top: 1rem;
}

.gasto {
  font-size: 18px;
  font-weight: bold;
}

.presupuesto p {
  margin-bottom: 0;
  font-weight: bold;
}

.presupuesto p span {
  font-weight: normal;
}

#gastos {
  margin-bottom: 30px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: var(--white-color);
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: var(--title-h2);
  font-size: 22px;
  margin-bottom: 30px;
}

.badge-pill {
  background-color: var(--blue-card);
}

.badge-primary {
  padding: 1rem;
  border-radius: 1.6rem;
  background-color: var(--blue-card);
}

.check {
  background-color: #333;
  width: 4rem;
  height: 4rem;
}



.list-group-item {
  font-size: 2rem;
  font-weight: 500;
}

.pagos-text {
  color: red;
  font-size: 16px;
  /* ... */
}

/* ************************* */
/* Botones */
/* ************************* */

.btn,
.btn:link {
  border-radius: .5rem;
  padding: 1.2rem 2.4rem;
  display: inline-block;
  max-width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  transition: all .3s ease;
}

.btn:hover,
.btn:visited {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-2);
}

.new-budget {
  display: flex;
  justify-content: center;

}

.budget-btn {
  display: inline-block;
  top: 0;
  margin-top: 0rem;
  background-color: rgb(50, 40, 40);
  font-size: 1.2rem;
  margin-bottom: 4rem;
  color: var(--white-color) !important;
}

.budget-i {
  height: 4rem;
  width: 30rem;
}

.btn-b {
  position: absolute;
  display: inline-block;
  top: 2.5rem;
  right: 3%;
  width: 20%;
}

.btn-back {
  background-color: var(--white-color);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--dark-color) !important;
}

.btn-width {
  margin-top: 2rem;
  font-size: 1.8rem;
  color: var(--white-color);
}

.clear-btn {
  position: relative;
  top: 0;
  right: -12rem;
}



/* ************************* */
/* Iconos */
/* ************************* */
.icon-list,
.expense-icon {
  position: relative;
}

.icon-list {
  margin-left: .5rem;
  top: .2rem;
}

.expense-icon {
  margin-left: .5rem;
  top: .5rem;
}

/* ************************* */
/* Queries */
/* ************************* */

@media screen and (max-width: 767px) {

  .text-center {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
  }

  .btn-width {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.form-control {
  font-size: 18px;
}

.total {
  font-size: 18px;
}

.primary-btn {
  font-size: 200px;
}

/* ************************* */
/* Popup New Budget */
/* ************************* */

.modal-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  border-bottom: 1px solid #ccc;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: #333333a8;
  transition: all 0.3s;
}

.modal-content--popup {
  position: absolute;
  margin: 12% auto;
  border: 1px solid #888;
  height: 48%;
  width: 40%;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white-color);
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
  border-radius: 3px;
  transform: translate(-50%, -50%) scale(1);
}

.modal--budget-text {
  margin-top: 5rem;
  margin-bottom: 3.5rem;
  font-size: 2.6rem;
  text-align: center;
  font-weight: 600;
}

.modal-close {
  background-color: var(--main-btn);
  padding: 0.8rem 1.5rem;
  border-radius: 50%;
  color: #e6e7e8;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 2.5rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
  padding-bottom: 1.2rem;
  transition: all .3s;
}


.modal-close:hover,
.modal-close:focus {
  color: var(--white-color);
  text-decoration: none;
  cursor: pointer;
  transform: scale(1.05);
}

h2 {
  margin-top: 0;
}

/* ************************* */
/* Estilo para el campo de entrada y el botón */
/* ************************* */
input[type="number"] {
  display: block;
  margin: 2rem auto;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 5px;
  background-color: #fefefe;
  color: var(--title-color);
  cursor: pointer;
  outline: none;
}

.budget-input {
  width: 34rem;
}

/* ************************* */
/* btn popup */
/* ************************* */
.button-submit {
  display: block;
  margin: 0 auto;
  width: 15rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: .5rem;
  border: none;
  background-color: var(--main-btn);
  color: var(--white-color);
  cursor: pointer;
  outline: none;
}

input[type="number"]:focus {
  border-color: var(--dark-color);
}

/* ************************* */
/* Estilo para el botón de enviar cuando está desactivado */
/* ************************* */
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* ************************* */
/* Logo */
/* ************************* */


.logo {
  position: absolute;
  top: -4rem;
  left: 20rem;
  padding-bottom: 0;

}

.logo img {
  /*   display: block; */
  margin: 0 auto;
  width: 40rem;
  padding-bottom: 0;
}

/* ************************* */
/* Clear btn */
/* ************************* */

.clear {
  position: absolute;
  left: 65%;
  margin-top: 1rem;
}

.clear-btn {
  background-color: var(--green-card);
  font-size: 1.2rem;
  margin-bottom: 4rem;
  color: var(--white-color) !important;
}