/* Menu */
@media screen and (min-width:1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height) - 0.5rem);
  }
}


@media screen and (min-width:1024px) {
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background: linear-gradient(180deg, #f4f6f9 0%, #eef0f3 100%);
  }

  .menu a {
    color: var(--first-color);
  }

}

@media screen and (max-width: 1024px) {
  .header {
    background: var(--second-color);
  }

  .menu {
    background-color: var(--second-color);
  }

  .menu a {
    color: var(--white-color);
  }


}

/* End Menu */