@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,300&family=Space+Mono:wght@700&display=swap');

/* ******** Custom Properties ******** */
:root {
  --dark-color: #222;
  --first-color: #444;
  /* Letras y botones */
  --first-alpha-color: #e6e7e8;
  --second-color: #333333;
  /* Cabecera */
  --second-alpha-color: ;
  --third-color: ;
  --third-alpha-color: ;
  --white-color: #fff;
  --gray-light-color: #f3f3f3;
  --gray-color: #ccc;
  --dark-gray-color: #666;
  --black-color: #000;
  --link-color: #509ee3;
  --title-color: #333;
  --text-color: #222;
  --white-alpha-color: ;
  --black-alpha-color: rgba(0, 0, 0, 0.5);
  --box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24),
    0px 24px 40px rgba(0, 0, 0, 0.24);
  --box-shadow-2: 0 0.5rem 1rem rgba(0,
      0,
      0,
      0.2);
  --font: "Raleway", sans-serif;
  --max-width: 1200px;
  --header-height: 6rem;
}

/* ************************* */
/* RESET */
/* ************************* */
html {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-color);
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
  /*   padding: 3rem;
    background-color: blue; */
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* ************************* */
/* COMPONENTS */
/* ************************* */

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  line-height: 1.05;
  color: #333;
  /* color: #45260a;*/
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 8.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

/* ************************* */
/*HERO SECTION */
/* ************************* */

.hero-section {
  height: 150vh;
  background: linear-gradient(180deg, #edeef0 0%, #e6e7e8 100%);
  background-size: cover;
  background-position: top;
  position: relative;
}

.hero-img {
  position: relative;
  display: block;
  top: 10rem;
  margin: 0 auto;
  max-width: 50%;
  border-radius: 18px;
  box-shadow: var(--box-shadow);
}

h1 {
  position: relative;
  padding-top: 20rem;
  font-size: 3.6rem;
  text-align: center;
}

.hero-text {
  position: relative;
  padding-top: 1rem;
  font-size: 2rem;
  text-align: center;
  color: var(--dark-gray-color);
}

.hero-btn--center {
  display: flex;
  justify-content: center;
}

.hero-btn {
  margin-top: 5rem;
  background-color: #158bd9;
  font-size: 1.8rem;
}


/* ************************* */
/* HOW IT WORKS SECTION */
/* ************************* */
.section-how {
  padding: 9.6rem 0;

}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #e6e7e8;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /*   height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 60%;
  background-color: #e6e7e8;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #edeef0;
  z-index: -1;
}

.step-img {
  width: 35%;
  border-radius: 12px;
}

.step-text-box {
  margin-bottom: 9.6rem;
}

/* ************************* */
/* OTHER SECTION */
/* ************************* */

.other-section {
  height: 100vh;
  background-color: #333333;
  background-size: cover;
  background-position: top;
  position: relative;
}


/* ******** Menu ******** */
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;

}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}


/* ******** Utilities ******** */

.bg-gray-light {
  background-color: var(--gray-light-color);
}

.box-shadow-1 {
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn,
.btn:link,
.btn:visited {
  border-radius: .5rem;
  padding: 1rem;
  display: inline-block;
  width: 200px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
  transition: all .3s ease;
}

.btn:hover,
.btn:visited {
  transform: scale(1.05);
  box-shadow: var(--box-shadow-2);
}

.btn:hover,
.btn:visited {
  outline: none;
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.2);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.none {
  display: none;
}

/* ******** Site Styles ******** */
.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moneymate {
  position: fixed;
  top: -10rem;
  width: 25rem;
}

/* ******** DarkThemeButton ******** */
.dark-theme-btn {
  position: fixed;
  z-index: 999;
  bottom: 13vh;
  left: 1vw;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--first-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  transition: all 0.3s ease-out;
}

.dark-theme-btn:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.dark-mode {
  background-color: var(--dark-color);
  color: var(--white-color);
}

/* ******** DarkThemeButton ******** */